@model FirstMyProject.ViewModels.CakeListVIewModel

<!DOCTYPE
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Cake Shop
    </title>
</head>
<body>
    <h1>@Model.CurrentCategory</h1>
</body>
</html>